*{margin: 0; padding: 0;}
#container{width: 960px; margin: 30px auto;}
h1{text-align: center;}
.prod-list{list-style: none;}
.prod-list li{
    display: inline-block;
    margin: 5px 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.prod-list .caption{
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 200px
}
.prod-list li:hover .caption{
    transform: translateY(-200px);
    transition: all 0.5s;
}
.prod-list .caption h2, p{
    color: white;
    line-height: 2;
}