*{
    margin:0;
     padding: auto;
}
#container{
    width: 1000px;
     margin: 0 auto;
}
header{
    height: 80px;
     background-color: #006699;
}
header #logo{
    width: 200px;
     float: left;
}
header nav{
    width: 750px;
     float:right; line-height: 80px;
}
h1{
    padding-left: 20px ;
    padding-top: 15px ;
    color: #fff;
}
h2{
    clear: both;
    margin: 0;
    padding: 0;
}
nav ul{
    list-style: none;
}
nav ul li{
    float:left;
}
li a{
    display: block;
    padding: 0 20px;
     color: #fff;
     text-decoration: none;}
li a:hover{
    background-color: #2fb2fd;

}